WF1_Dispatcher_v3.json
{
  "name": "WF1 - Everest Dispatcher v3.0",
  "nodes": [
    {
      "id": "d1a00001-sch0-4000-a000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        340
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 50
            }
          ]
        }
      }
    },
    {
      "id": "d1a00002-gs01-4000-a000-000000000002",
      "name": "GSheets - Temas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        520,
        120
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "1KetYv6M1WboTutdISMDEEoLTVCTDc1dCKCMwSzXIHwQ"
        },
        "sheetName": {
          "mode": "name",
          "value": "Temas_Semanales"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REEMPLAZAR_CON_ID_REAL",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "id": "d1a00003-gs02-4000-a000-000000000003",
      "name": "GSheets - Sitios",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        520,
        340
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "1KetYv6M1WboTutdISMDEEoLTVCTDc1dCKCMwSzXIHwQ"
        },
        "sheetName": {
          "mode": "name",
          "value": "Sitios_Config"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REEMPLAZAR_CON_ID_REAL",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "id": "d1a00004-gs03-4000-a000-000000000004",
      "name": "GSheets - Perfiles",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        520,
        560
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "1KetYv6M1WboTutdISMDEEoLTVCTDc1dCKCMwSzXIHwQ"
        },
        "sheetName": {
          "mode": "name",
          "value": "Perfiles_Escritores"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REEMPLAZAR_CON_ID_REAL",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "id": "d1a00005-merg-4000-a000-000000000005",
      "name": "Merge - Sync 3 Sheets",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        800,
        340
      ],
      "parameters": {
        "mode": "append",
        "options": {
          "numberInputs": 3
        }
      }
    },
    {
      "id": "d1a00006-code-4000-a000-000000000006",
      "name": "Code - Cross JOIN & Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        340
      ],
      "parameters": {
        "jsCode": "// ============================================================\n// DISPATCHER CODE NODE v3.0\n// Cross-JOIN + Filtro Día + Detección Automática de Semana\n// ============================================================\n// CAMBIO CLAVE: Ya no busca Estado='Activo'.\n// Ahora CALCULA el lunes de la semana actual y lo compara\n// contra la columna Fecha_Lunes_Referencia de Temas_Semanales.\n// Esto elimina la necesidad de cambiar manualmente el estado.\n// ============================================================\n\nconst temasItems  = $('GSheets - Temas').all();\nconst sitiosItems = $('GSheets - Sitios').all();\nconst perfilesItems = $('GSheets - Perfiles').all();\n\n// ---- 1. Calcular el LUNES de la semana actual ----\nconst now = new Date();\nconst dayOfWeek = now.getDay(); // 0=Dom, 1=Lun, 2=Mar, ... 6=Sáb\n// Fórmula: retroceder al lunes más cercano\n// Si es domingo (0), retroceder 6 días; si no, retroceder (dayOfWeek - 1)\nconst diffToMonday = dayOfWeek === 0 ? -6 : 1 - dayOfWeek;\nconst monday = new Date(now);\nmonday.setDate(now.getDate() + diffToMonday);\n\n// Formato YYYY-MM-DD para comparación\nconst mondayISO = monday.toISOString().split('T')[0]; // \"2026-03-16\"\n\n// ---- 2. Encontrar el tema de ESTA semana ----\n// Google Sheets puede devolver la fecha en varios formatos:\n// \"2026-03-16\", \"03/16/2026\", \"16/03/2026\", \"March 16, 2026\", \n// o incluso un serial de Sheets. Normalizamos todo a YYYY-MM-DD.\nfunction normalizeDateToISO(raw) {\n  if (!raw) return '';\n  const str = String(raw).trim();\n  \n  // Ya es ISO: \"2026-03-16\" o \"2026-03-16T00:00:00...\"\n  if (/^\\d{4}-\\d{2}-\\d{2}/.test(str)) {\n    return str.substring(0, 10);\n  }\n  \n  // Formato MM/DD/YYYY (US)\n  if (/^\\d{1,2}\\/\\d{1,2}\\/\\d{4}$/.test(str)) {\n    const [m, d, y] = str.split('/');\n    return `${y}-${m.padStart(2, '0')}-${d.padStart(2, '0')}`;\n  }\n  \n  // Formato DD/MM/YYYY (EU/MX)\n  if (/^\\d{1,2}-\\d{1,2}-\\d{4}$/.test(str)) {\n    const [d, m, y] = str.split('-');\n    return `${y}-${m.padStart(2, '0')}-${d.padStart(2, '0')}`;\n  }\n  \n  // Google Sheets serial number (días desde 1899-12-30)\n  if (/^\\d{5}$/.test(str)) {\n    const epoch = new Date(1899, 11, 30);\n    epoch.setDate(epoch.getDate() + parseInt(str));\n    return epoch.toISOString().split('T')[0];\n  }\n  \n  // Fallback: intentar parsear con Date()\n  try {\n    const parsed = new Date(str);\n    if (!isNaN(parsed.getTime())) {\n      return parsed.toISOString().split('T')[0];\n    }\n  } catch (e) { /* ignore */ }\n  \n  return str; // Devolver tal cual si no se puede parsear\n}\n\nconst tema = temasItems.find(i => {\n  const fechaRef = normalizeDateToISO(i.json.Fecha_Lunes_Referencia);\n  return fechaRef === mondayISO;\n})?.json;\n\nif (!tema) {\n  // No hay tema programado para esta semana\n  // Esto puede pasar si no se llenó la fila en Google Sheets\n  console.log(`⚠️ No se encontró tema para la semana del ${mondayISO}`);\n  console.log(`   Fechas disponibles: ${temasItems.map(i => i.json.Fecha_Lunes_Referencia).join(', ')}`);\n  return [];\n}\n\n// ---- 3. Detectar el día de HOY (español, sin acentos, lowercase) ----\nconst hoy = new Date()\n  .toLocaleDateString('es-MX', { weekday: 'long' })\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '');\n\nconst fechaHoy = new Date().toISOString().split('T')[0];\n\n// ---- 4. Filtrar sitios activos que publican HOY ----\nconst sitiosHoy = sitiosItems.filter(s => {\n  const diaSitio = (s.json.Dia_Publicacion || '')\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '');\n  return diaSitio === hoy && String(s.json.activo).toUpperCase() === 'TRUE';\n});\n\nif (sitiosHoy.length === 0) {\n  // Ningún sitio publica hoy (ej. sábado/domingo)\n  return [];\n}\n\n// ---- 5. Cross-JOIN: sitio × perfil × tema → payload Worker ----\nreturn sitiosHoy.map(s => {\n  const site = s.json;\n  const perfil = perfilesItems.find(\n    p => p.json.perfil_id === site.perfil_id\n  )?.json || {};\n\n  // Determinar idioma de instrucción para el system prompt\n  const idiomaInstruccion = site.idioma === 'es'\n    ? 'español neutro'\n    : 'English';\n\n  // Sustituir {{PLACEHOLDERS}} en el system_prompt_template\n  let systemPromptFinal = perfil.system_prompt_template || '';\n  const replacements = {\n    '{{AUTHOR_NAME}}':        perfil.author_name || '',\n    '{{AUTHOR_TITLE}}':       perfil.author_title || '',\n    '{{AUTHOR_BIO}}':         perfil.author_bio || '',\n    '{{IDIOMA_INSTRUCCION}}': idiomaInstruccion,\n    '{{PUBLISHER_NAME}}':     site.publisher_name || '',\n    '{{PUBLISHER_URL}}':      site.wp_url || '',\n    '{{CATEGORY_URL}}':       site.category_url || '',\n    '{{CTA_COPY}}':           site.cta_copy || '',\n  };\n\n  for (const [token, value] of Object.entries(replacements)) {\n    systemPromptFinal = systemPromptFinal.split(token).join(value);\n  }\n\n  // ---- 6. Construir el payload estandarizado para el Worker ----\n  return { json: {\n    // --- Identificación ---\n    site_id:              site.site_id,\n\n    // --- Credenciales WP (viajan en payload, NUNCA hardcodeadas) ---\n    wp_url:               site.wp_url,\n    wp_user:              site.wp_user,\n    wp_app_password:      site.wp_app_password,\n\n    // --- Tema de la semana (automático por fecha) ---\n    tema_semanal:         tema.Tema_Principal || '',\n    angulo_enfoque:       tema.Angulo_Enfoque || '',\n\n    // --- Config del sitio ---\n    idioma:               site.idioma,\n\n    // --- System Prompts ya procesados ---\n    system_prompt_final:           systemPromptFinal,\n    art_director_system_prompt:    perfil.art_director_system_prompt || '',\n\n    // --- Metadata del perfil de escritor ---\n    author_name:          perfil.author_name || '',\n    author_title:         perfil.author_title || '',\n    author_bio:           perfil.author_bio || '',\n\n    // --- Publisher info ---\n    publisher_name:       site.publisher_name || '',\n    publisher_url:        site.wp_url || '',\n    category_url:         site.category_url || '',\n    cta_copy:             site.cta_copy || '',\n\n    // --- Fecha/hora de publicación programada ---\n    wp_scheduled_date:    `${fechaHoy}T${site.Hora_Publicacion || '07:00'}:00`,\n\n    // --- Debug info (útil para troubleshooting) ---\n    _debug_semana_detectada: mondayISO,\n    _debug_dia_detectado:    hoy,\n  }};\n});\n"
      }
    },
    {
      "id": "d1a00007-splt-4000-a000-000000000007",
      "name": "Split in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1360,
        340
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "d1a00008-exec-4000-a000-000000000008",
      "name": "Execute Workflow - Worker",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1640,
        340
      ],
      "parameters": {
        "source": "database",
        "workflowId": "={{ /* REEMPLAZAR_CON_ID_DEL_WORKER */ }}",
        "options": {
          "waitForSubWorkflow": true
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GSheets - Temas",
            "type": "main",
            "index": 0
          },
          {
            "node": "GSheets - Sitios",
            "type": "main",
            "index": 0
          },
          {
            "node": "GSheets - Perfiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSheets - Temas": {
      "main": [
        [
          {
            "node": "Merge - Sync 3 Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSheets - Sitios": {
      "main": [
        [
          {
            "node": "Merge - Sync 3 Sheets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GSheets - Perfiles": {
      "main": [
        [
          {
            "node": "Merge - Sync 3 Sheets",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge - Sync 3 Sheets": {
      "main": [
        [
          {
            "node": "Code - Cross JOIN & Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Cross JOIN & Build Payload": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches": {
      "main": [
        [
          {
            "node": "Execute Workflow - Worker",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Execute Workflow - Worker": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "Everest v2.0"
    },
    {
      "name": "Dispatcher"
    }
  ]
}